<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cafeteria Argentina</title>
</head>
<body>

    <header class="header">

        <div class="menu container">
            <a href="#" class="Logo" >.</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="#Inicio">Inicio</a></li>
                    <li><a href="#Productos">Productos</a></li>
                    <li><a href="#Servicios">Servicios</a></li>
                    <li><a href="#Locales">Locales</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <section class="Inicio" id="Inicio">
            <h1>Cafeteria Argentina</h1>
            <p>
                Hermosa cafeteria para disfrutar con amigos, con la familia, con sus primos <br/>
                Nos encontramos en Buenos Aires, Argentina <br/>
                 VENI A VISATARNOS !!!
                
            </p>
            <a href="#" class="btn-1">Inicio</a>
        </div>
            </section>
    </header>

        <section class="coffee" id="Productos">

            <img class="coffee-img" src="images/bg2.png" alt="">

            <div class="coffee-content container">

                <h2>Los diferentes tipos de cafe</h2>
                <p class="txt-p">
                    Nosotros nos encargamos de encontrar el mejor cafe para nuestros clientes,
                     tener el mejor servicio al cliente, y los mejores empleados
                </p>

                <div class="coffee-group">

                    <div class="coffee-1">
                        <img src="images/c1.png" alt="">
                        <h3>Cafe con leche</h3>
                        <p>
                            nuestro Cafe con leche, esta echo en base de los granos de cafe arabico
                             unos de los mejores granos de cafe, y la leche, es a gusto del cliente .
                        </p>
                    </div>
                    <div class="coffee-1">
                        <img src="images/c2.png" alt="">
                        <h3>cafe robusto</h3>
                        <p>
                            Este grano de cafe esta considerado como un grano con mucha cafeina, ideal para
                            desayunos antes de ir a entrenar, o antes de ir a trabajar, con este cafe tendras
                            un mayor rendimiento para tu dia a dia.
                        </p>
                    </div>
                    <div class="coffee-1">
                        <img src="images/c3.png" alt="">
                        <h3>Cafe arabico</h3>
                        <p>
                            El grano arabico de cafe es unos de nuestros cafe mas 
                            consumidos, y considerado de los mejores por nuestros clientes,
                            por su rico olor y su acidez muy agradable.                           
                        </p>
                    </div>
                </div>
                <a href="#" class="btn-1">Inicio</a>

            </div>

        </section>

        <main class="services">

            <div class="services-content container">
                <section class="servicios" id="Servicios">
                <h2>Cafeteria servicios</h2>

                <div class="services-group">

                    <div class="services-1">
                        <img src="images/i1.svg" alt="">
                        <h3>Servicio 1</h3>
                    </div>
                    <div class="services-1">
                        <img src="images/i2.svg" alt="">
                        <h3>Servicio 2</h3>
                    </div>
                    <div class="services-1">
                        <img src="images/i3.svg" alt="">
                        <h3>Servicio 3</h3>
                    </div>

                </div>
                <p>
                    Tenemos los mejores servicios, con muy buenos meseros, muy buen ambiente,
                    excelente trabajo de los baristas y hermosas vistas hacia Buenos Aires Argentina
                </p>
                <a href="#" class="btn-1">Inicio</a>
            </div>
                </section>
        </main>


        <section class="general">

            <div class="general-1">
                <h2>Formas del Cafe</h2>
                <p>
                    Nuestros baristas se encargan de preparar el cafe como
                     lo decee el cliente, si lo decea con leche o sin y el arte latte
                     que decee el cliente 
                    
                </p>
                <a href="#" class="btn-1">Inicio</a>
            </div>
            <div class="general-2"></div>

        </section>

        <section class="general">

            <div class="general-3"></div>

            <div class="general-1">
                <h2>Granos de cafe</h2>
                <p>
                    El cliente tiene el gusto de elegir el tipo grano 
                    de cafe que desee ya sea el robusto o el arabico
                </p>
                <a href="#" class="btn-1">Inicio</a>
            </div>            
        </section>
  
        <section class="blog container" id="Locales">

            <h2>Locales</h2>
            <p>Tenemos 3 locales que son lindos y espaciosos</p>

            <div class="blog-content">
                <div class="blog-1">
                    <img src="images/blog1.jpg" alt="">
                    <h3>Local 1</h3>
                    <p>
                        Nos encontramos en la calle mendoza de la
                        ciudad autonoma de Buenos Aires Argentina,
                        es un local clasico y hermoso para compartir 
                        con tu familia e amigos
                    </p>

                </div>
                <div class="blog-1">
                    <img src="images/blog2.jpg" alt="">
                    <h3>Local 2</h3>
                    <p>
                        Nos encontramos en la Avenida Rivadavia
                        en Buenos Aires Argentina, este es un local
                        bastante rustico y tranquilo
                    </p>

                </div>
                <div class="blog-1">
                    <img src="images/blog3.jpg" alt="">
                    <h3>Local 3</h3>
                    <p>
                        Nos encontramos en la Avenida Del Libertador
                        en Buenos Aires Argentina, este el nuestro local
                        principal, muy espacioso y con buen ambiente
                    </p>
                </div>
            </div>
            <a href="#" class="btn-1">Inicio</a>
        </section>


        <footer class="footer">

            <div class="footer-content container">              
                <div class="link">
                    <h3>lorem</h3>
                    <ul>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h3>lorem</h3>
                    <ul>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h3>lorem</h3>
                    <ul>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h3>lorem</h3>
                    <ul>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                        <li><a href="#">.</a></li>
                    </ul>
                </div>

            </div>
        </footer>
      
</body>
</html>